<div class="modal-header">
  <h5 class="modal-title">Felhasználó adatainak módosítása</h5>
  <button type="button" class="close" aria-label="Bezárás" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col">Név</th>
      <th scope="col">E-mail cím</th>
      <th scope="col">Felhasználó név</th>
      <th scope="col">Cím</th>
      <th scope="col">Szöveg</th>
    </tr>
    </thead>
    <!--<tbody>
    <tr *ngFor="let u of user">
      <td>{{ u.fullName }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.userName }}</td>
      <td>{{ u.title }}</td>
      <td>{{ u.text }}</td>
      <td>
        <button type="button" class="btn btn-warning btn-sm update-button" (click)="openModifyModal(u)">Mentés</button>
      </td>
    </tr>
    </tbody>-->
  </table>
  <!-- <app-admin [inputUser]="user" (submitUser)="modifyUser($event)"></app-admin>-->
  <button type="button" class="btn btn-success-light btn-sm update-button">Mentés</button>
</div>
<!--<div class="modal-body">
  <form [formGroup]="form" (submit)="submitForm()">
    <div class="form-group">
      <label for="add-user-name">Név</label>
      <input type="text" class="form-control" id="add-user-name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="add-user-email">E-mail cím</label>
      <input type="email" class="form-control" id="add-user-email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="add-user-age">Életkor</label>
      <input type="number" class="form-control" id="add-user-age" formControlName="age">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Mentés</button>
  </form>
</div>-->
