<div class="modal-header">
  <h5 class="modal-title">Felhasználó adatainak módosítása</h5>
  <button type="button" class="close" aria-label="Bezárás" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!--<form [formGroup]="form" (submit)="submitForm()" [inputUser]="user" (submitUser)="modifyUser($event)">-->
  <form [formGroup]="form">
    <div class="form-group">
      <label for="add-user-fullName">Név</label>
      <input type="text" class="form-control" id="add-user-fullName" formControlName="fullName"
             [ngClass]="{ 'is-invalid' : form.get('fullName').invalid && form.get('fullName').touched }">
      <div class="invalid-feedback" *ngIf="form.get('fullName').errors?.required">A mező kitöltése kötelező!</div>
    </div>
    <div class="form-group">
      <label for="add-user-email">E-mail cím</label>
      <input type="email" class="form-control" id="add-user-email" formControlName="email"
             [ngClass]="{ 'is-invalid' : form.get('email').invalid && form.get('email').touched }">
      <div class="invalid-feedback" *ngIf="form.get('email').errors?.required">A mező kitöltése kötelező!</div>
      <div class="invalid-feedback" *ngIf="form.get('email').errors?.email">Az e-mail cím nem valós!</div>
    </div>
    <div class="form-group">
      <label for="add-user-userName">Felhasználó név</label>
      <input type="text" class="form-control" id="add-user-userName" formControlName="userName"
             [ngClass]="{ 'is-invalid' : form.get('userName').invalid && form.get('userName').touched }">
      <div class="invalid-feedback" *ngIf="form.get('userName').errors?.required">A mező kitöltése kötelező!</div>
    </div>
    <div class="form-group">
      <label for="add-user-title">Title</label>
      <input type="text" class="form-control" id="add-user-title" formControlName="title"
              [ngClass]="{ 'is-invalid' : form.get('title').invalid && form.get('title').touched }">
      <div class="invalid-feedback" *ngIf="form.get('title').errors?.required">A mező kitöltése kötelező!</div>
    </div>
    <div class="form-group">
      <label for="add-user-text">Text</label>
      <input type="text" class="form-control" id="add-user-text" formControlName="text"
              [ngClass]="{ 'is-invalid' : form.get('text').invalid && form.get('text').touched }">
      <div class="invalid-feedback" *ngIf="form.get('userName').errors?.required">A mező kitöltése kötelező!</div>
    </div>
  </form>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="activeModal.close()">Mentés</button>
</div>
