<div class="header center row pl-5 pr-5" [ngStyle]="{background:'green'}">
  <h1>Hike Master</h1>
  <div class="col">
    <div type="button" class="float-right pt-3">
      <div (click)="openSigin()">
        <i class="fas fa-arrow-alt-circle-right text-warning mr-1"></i>
        Sign up
      </div>
    </div>
    <div type="button" class="float-right mr-5 pt-3">
      <div (click)="openLogin()">
        <i class="fas fa-user-circle text-info mr-1"></i>
        Log in
      </div>
    </div>
    <button type="button" class="float-right mr-5  mt-3 mat-fab" [routerLink]="buttonLink" [hidden]="false">
        Admin
    </button>
  </div>
</div>






