<!--
<div class="container">
  <div class="row">
    <div type="button" class="col" [routerLink]="buttonLinkFrontpage">
      <a>
        <img src="../../../assets/img/test.01.jpg" class="logo" alt=""/>
      </a>
    </div>
    <div class="col">
      <ul class="nav justify-content-end">

        <button type="button" class="float-right mr-5  mt-3 mat-fab" [routerLink]="buttonLinkAdmin" [hidden]="false">
          Admin
        </button>
        <li class="nav-item">
          <nav class="navbar navbar-expand-lg navbar-light ">
            <div (click)="openSigin()">
              <i class="fas fa-arrow-alt-circle-right text-warning mr-1"></i>
              Sign Up
            </div>
          </nav>
        </li>
        <li class="nav-item" *ngIf="!getUser.userName">
          <nav class="navbar navbar-expand-lg navbar-light ">
            <div (click)="openLogin()">
              <i class="fas fa-user-circle text-info mr-1"></i>
              Log In
            </div>
          </nav>
        </li>
        <li class="nav-item" *ngIf="getUser.userName">
          <nav class="navbar navbar-expand-lg navbar-light ">
            <div (click)="logout()">
              <i class="fas fa-sign-out-alt text-info mr-1"></i>
              Log Out
            </div>
          </nav>
        </li>
        <li class="nav-item" *ngIf="getUser.userName">
          <nav class="navbar navbar-expand-lg navbar-light ">
            <div>
              <b [routerLink]="userLink">{{ getUser.userName }}</b>
            </div>
          </nav>
        </li>
      </ul>
    </div>
  </div>
</div>
-->

<header class="navbar" [ngClass]="{'navbar-fixed': isFixedNavbar}">
  <div class="container black">


    <div class="navbar-mobile-top">
      <div class="navbar-logo">
        <a routerLink="/frontpage">
          <img src="../../../assets/img/test.01.jpg" class="logo" alt=""/>
        </a>
        <div>
          <h2 class="navbar-logo ml-3 logoText"><strong>HikeMaster</strong></h2>
        </div>
      </div>

      <button mat-icon-button color="accent" class="navbar-toggle" (click)="toggleNavbar()">
        <fa-icon [icon]="!navbarOpened ? faBars: faTimes"></fa-icon>
      </button>
    </div>
    <div fxFlex class="top-navbar">
      <div fxFlex></div>


      <a mat-button type="button" class="navbartop-btn px-3" routerLink="/admin">
        <fa-icon [icon]="faMail" class="mr-2"></fa-icon>
        <strong>Contact</strong></a>

      <a mat-button type="button" class="navbartop-btn px-3" (click)="openSigin()">
        <fa-icon [icon]="faLogin" class="mr-2"></fa-icon>
        <strong>Sign Up</strong></a>

      <a mat-button *ngIf="!getUser.userName" type="button" class="navbartop-btn px-3" (click)="openLogin()">
        <fa-icon [icon]="faUser" class="mr-2"></fa-icon>
        <strong>Log In</strong></a>

      <a mat-button *ngIf="getUser.userName" type="button" class="navbartop-btn px-3" (click)="logout()">
        <fa-icon [icon]="faLogin" class="mr-2"></fa-icon>
        <strong>Log Out</strong></a>

      <a mat-button type="button" class="navbartop-btn px-3" *ngIf="getUser.userName">
        <fa-icon [icon]="faUser" class="mr-2"></fa-icon>
        <b [routerLink]="userLink">{{ getUser.userName }}</b>
      </a>

    </div>
  </div>
</header>







