.file-upload-button {
  cursor: pointer;
  background-color: darkolivegreen;
  border-radius: 5px;
  padding: 5px 30px;
  color: white;
  transition: background-color ease-in-out 0.3s;
  margin-top: 5px;
}

.backgroundColor{
  background-color: #235357;
  color: white;
}
