<app-header></app-header>

<div class="headerShift"></div>


<div class="container">
  <div class="row">
    <div class="col">
      <h1>Creating New Tour</h1>


      <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="input" class="form-control" id="inputTitle" placeholder="Title">
      </div>


      <label>Data</label>
      <div class="form-group">
        <div class="input-with-icon">
          <label>Difficulty</label>
          <select id="tour-difficulty" class="form-control">
            <option value="">&nbsp;</option>
            <option value="1">Könnyű</option>
            <option value="2">Közepes</option>
            <option value="3">Nehéz</option>
          </select>
          <i class="ti-briefcase"></i>
        </div>
      </div>

      <div class="form-group">
        <label for="inputLength">Title</label>
        <input type="input" class="form-control" id="inputLength" placeholder="Length">
      </div>

      <div class="form-group">
        <label for="inputLevelRise">Level Rise</label>
        <input type="input" class="form-control" id="inputLevelRise" placeholder="Level Rise">
      </div>

      <div class="form-group">
        <div class="input-with-icon">
          <label>Type Of Tour</label>
          <select id="route-category" class="form-control">
            <option value="">&nbsp;</option>
            <option value="1">Egyirányú túra</option>
            <option value="2">Körtúra</option>
          </select>
          <i class="ti-briefcase"></i>
        </div>
      </div>


      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>


    </div>

  </div>
</div>
