<app-header buttonLinkFrontpage="/frontpage" buttonLinkAdminImage="/admin-image" buttonLinkAdminTours="/admin-tours"
            buttonContact="/contact"></app-header>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Creating New Tour</h1>
    </div>
  </div>
</div>

<app-new-tour-form (add)="addTours($event)"></app-new-tour-form>
<div class="container" > <!-- *ngIf="savedTourId" -->
  <div class="row">
    <div class="col">
      <div class="backgroundColor text-center my-5">
        <label>Image upload</label>
      </div>
      <app-new-tour-img-form [tourId]="savedTourId"></app-new-tour-img-form>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="backgroundColor text-center my-5">
        <label>Kml upload</label>
      </div>
      <app-new-tour-kml-form [tourId]="savedTourId"></app-new-tour-kml-form>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="form-group">
        <button type="button" class="file-upload-button" routerLink="/user">Save</button>
      </div>
    </div>
  </div>
</div>
