<!--<div class="list-single-main-item fl-wrap">-->
<!--  <div class="list-single-main-item-title fl-wrap">-->
<!--    <h3>Comments</h3>-->
<!--  </div>-->
<div class="reviews-comments-wrap" *ngIf="myComment.text">
  <!-- reviews-comments-item -->
  <div class="reviews-comments-item">
    <div class="review-comments-avatar">
    </div>
    <div class="reviews-comments-item-text">
      <h4><a>{{myComment.user.userName}}</a><span class="reviews-comments-item-date ml-2 pl-5"><i
        class="ti-calendar theme-cl"></i>{{myComment.date | date: 'longDate'}}</span>
      </h4>
      <div class="clearfix"></div>
      <p>{{myComment.text}}</p>
      <div *ngIf="getUser  !== undefined && myComment.user.userName === getUser.userName">
        <button class="green m-2">Edit comment</button>
        <button class="green m-2">Delete comment</button>
      </div>
      <!--          <div class="pull-left reviews-reaction">-->
      <!--            <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>-->
      <!--            <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>-->
      <!--            <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>-->
      <!--          </div>-->
    </div>
  </div>
</div>
<!--</div>-->
<!--<div class="bg-white" *ngIf="getUser.userName">-->
<!--  <div class="row mt-5">-->
<!--    <div class="col text-left ml-3 mr-3 mt-2">-->
<!--      <form [formGroup]="form" (submit)="comment()">-->
<!--        <div class="form-group">-->
<!--          <label for="messageText">Comment</label>-->
<!--          <textarea class="form-control" id="messageText" rows="3"></textarea>-->
<!--        </div>-->
<!--        <button type="submit" class="green mb-5">Submit</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
