<div *ngIf="myComment" class="comment" >
  <h4 class="row">
    <a class="col-6" *ngIf="myComment.userName">{{myComment.userName}}</a>
    <span class="reviews-comments-item-date col-6 text-right">
      <i class="ti-calendar theme-cl"></i>{{myComment.messageDate | date: 'medium'}}
    </span>
  </h4>
  <div class="clearfix"></div>
  <p>{{myComment.text}}</p>
  <div *ngIf="hasUser(myComment)" class="user-action-container">
    <button class="green" (click)="openModifyModal()">Edit comment</button>
    <button class="green ml-2 delete-button" (click)="openDeleteModal()">Delete comment</button>
  </div>
  <!--          <div class="pull-left reviews-reaction">-->
  <!--            <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>-->
  <!--            <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>-->
  <!--            <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>-->
  <!--          </div>-->
</div>
