.green {
  background-color: #113b3c;
  color: white;
  transition-duration: 1s;
  box-shadow: 0 5px 0px #0b2e13;
  letter-spacing: 2px;
  border-radius: 10px;
  line-height: 30px;

  &:hover {
    background-color: #1c6566;
    box-shadow: 0 3px 0px #0b2e13;
  }
}

.comment {
  width: 100%;
  padding: 0;
}

.user-action-container {
  margin-bottom: 15px;
}
