<div class="reviews-comments-wrap" *ngIf="myComment && myComment.text">
  <!-- reviews-comments-item -->
  <div class="reviews-comments-item">
    <div class="review-comments-avatar">
    </div>
    <div class="reviews-comments-item-text">
      <h4><a>{{myComment.user.userName}}</a><span class="reviews-comments-item-date ml-2 pl-5"><i
        class="ti-calendar theme-cl"></i>{{myComment.date | date: 'longDate'}}</span>
      </h4>
      <div class="clearfix"></div>
      <p>{{myComment.text}}</p>
      <div *ngIf="hasUser(myComment)" class="comment-action-buttons">
        <button class="green m-2" >Edit comment</button>
        <button class="green m-2" (click)="openDeleteModal(myComment)">Delete comment</button>
      </div>
      <!--          <div class="pull-left reviews-reaction">-->
      <!--            <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>-->
      <!--            <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>-->
      <!--            <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>-->
      <!--          </div>-->
    </div>
  </div>
</div>
