<app-header buttonLinkFrontpage="/frontpage"></app-header>
<div class="headerShift"></div>
<div class="container">
  <h3>Felhasználói nyilvántartás</h3>
  <!-- Table -->
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col">Név</th>
      <th scope="col">E-mail cím</th>
      <th scope="col">Felhasználó név</th>
      <th scope="col">Cím</th>
      <th scope="col">Szöveg</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let u of users">
      <td>{{ u.fullName }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.userName }}</td>
      <td>{{ u.title }}</td>
      <td>{{ u.text }}</td>
      <td>
        <button type="button" class="btn btn-warning btn-sm update-button" (click)="openModifyModal(u)">Módosít</button>
        <button type="button" class="btn btn-danger btn-sm delete-button" (click)="openDeleteModal(u)">Töröl</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
