<app-header buttonLinkAdmin="/admin"></app-header>
<div class="headerShift"></div>
<div class="container">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" ></agm-marker>
  </agm-map>
  <div class="form-group">

    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>

</div>
<app-footer></app-footer>




