<div class="container" *ngIf="! isSearching && tours?.length > 0">
  <div class="row">
    <div class="col-lg-12 col-md-12">

      <h1 class="ipt-title">Túrák listázása</h1>
    </div>
  </div>

</div>

<div class="row m-0" *ngIf="isSearching">
  <div class="col-md-12 col-sm-12 mt-3">
    <div class="text-center">

      <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>

    </div>
  </div>

</div>
<section class="pb-4">
  <div class="container">
        <div class="row m-0">
          <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let t of tours">
            <div class="singlePlaceitem">
              <figure class="singlePlacewrap">
                <a class="place-link" [routerLink]="['/tour', t.routeId]">
                  <img class="cover" src="assets/img/hiking1.jpg" alt="room">
                </a>
              </figure>
              <div class="placeDetail">
                <span class="onsale-section" *ngIf="t.difficulty"><span class="onsale">{{t.difficulty}}</span></span>
                <div class="placeDetail-left" >
                  <div class="item-rating" *ngIf="t.rate===1">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>

                  <div class="item-rating" *ngIf="t.rate===2">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>

                  <div class="item-rating" *ngIf="t.rate===3">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>

                  <div class="item-rating" *ngIf="t.rate===4">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                  </div>

                  <div class="item-rating" *ngIf="t.rate===5">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                  </div>
                  <h4 class="title">{{t.title}}</h4>
                  <h4 class="title">{{t.tourLength+ " km"}}</h4>
                  <span class="placeDetail-detail"><i class="ti-location-pin"></i>{{t.tourType}}</span>
                </div>
              </div>
            </div>
          </div>



    </div>
  </div>
</section>
