<app-header></app-header>
<div class="headerShift"></div>
<!-- =================== Sidebar Search ==================== -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">

      <h1 class="ipt-title">Túrák listázása</h1>
    </div>
  </div>

</div>
<section class="gray">
  <div class="container">
    <div class="row">

      <app-tour-form (search)="doSearch($event)"></app-tour-form>
      <!-- Sidebar End -->

      <div class="order-1 content-area col-lg-8 col-md-12 order-md-1 order-lg-2">
        <div class="row">


        </div>

        <div class="row m-0">

          <!-- Single Tour Place -->
          <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let t of tours">
            <div class="tour-simple-wrap style-3">
              <div class="tour-simple-thumb">
                <a
                  href="tour-detail.html"><img src="assets/img/hiking1.jpg" class="img-fluid img-responsive" alt=""
                /></a>
              </div>
              <div class="tour-simple-caption">
                <div class="ts-caption-left">
                  <h4 class="ts-title"><a href="tour-view.html">{{t.title}}</a></h4>
                  <h4 class="ts-title"><a href="tour-view.html">{{t.tourLength}}</a></h4>
                  <div class="ovrall-rating">
                    <i class="ti-star filled"></i>
                    <p>{{t.rate}}</p>
                  </div>

                </div>
                <div class="ts-caption-right">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row m-0" *ngIf="isSearching">
          <div class="col-md-12 col-sm-12 mt-3">
            <div class="text-center">

              <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-warning" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-success" role="status">
                <span class="sr-only">Loading...</span>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</section>
