.green{
  background-color: darkolivegreen;
}
.tour-maps {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  @media (min-width: 767px) {
    justify-content: start;
  }
}
.make-big{
  width: 100%;
  height: 540px;
}
