<app-header buttonLink="/admin"></app-header>
<div class="headerShift"></div>
<div class="container mt-3">
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink class="green">My maps</a>
      <ng-template ngbNavContent>
        <label class="file-upload-button" for="fileUpload">Upload</label>
        <input class="invisible" type="file" accept=".csv," id="fileUpload">
        <div class="tour-maps">
          <app-my-map *ngFor="let tourMap of tourMaps" [tourMap]="tourMap"></app-my-map>
        </div>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink class="green">Favorites</a>
      <ng-template ngbNavContent>
        <div class="tour-maps">
          <div class = "make-big" *ngIf="favoriteMaps.length === 0">Your favorite list is empty!</div>
          <app-my-map *ngFor="let tourMap of favoriteMaps" [tourMap]="tourMap"></app-my-map>
        </div>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink class="green">Profile</a>
      <ng-template ngbNavContent>
        <app-profile></app-profile>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

