.green{
  background-color: darkolivegreen;
  &:hover {
    background-color: olivedrab;
  }
}

.tour-map {
  margin: 0 15px 15px 0;
}

.favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.7);
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  border: 0;
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  &__icon {
    margin: 0 auto;
  }

  &:hover {
    color: #28a745;
  }
}
