<form [formGroup]="form">


  <div class="container">
    <div class="row">
      <div class="col">


        <div class="form-group">
          <label for="add-user-name">Title</label>
          <input type="text" class="form-control" id="add-user-name" formControlName="title"
                 [ngClass]="{ 'is-invalid' : form.get('title').invalid && form.get('name').touched }">
          <div class="invalid-feedback" *ngIf="form.get('title').errors?.required">A mező kitöltése kötelező!</div>
        </div>

        <label>Data</label>
        <div class="form-group">
          <div class="input-with-icon">
            <label>Difficulty</label>
            <select id="tour-difficulty" class="form-control">
              <option value="">&nbsp;</option>
              <option value="1">Könnyű</option>
              <option value="2">Közepes</option>
              <option value="3">Nehéz</option>
            </select>
            <i class="ti-briefcase"></i>
          </div>
        </div>

        <div class="form-group">
          <div class="input-with-icon">
            <label>Type Of Tour</label>
            <select id="route-category" class="form-control">
              <option value="">&nbsp;</option>
              <option value="1">Egyirányú túra</option>
              <option value="2">Körtúra</option>
            </select>
            <i class="ti-briefcase"></i>
          </div>
        </div>


        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="kmlFile">KML File Upload</label>
          <input type="file" class="form-control-file" id="kmlFile">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="imgFile">IMG File Upload</label>
          <input type="file" class="form-control-file" id="imgFile">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
      </div>
    </div>
  </div>
</form>
