<form class="st-search-form-tour icon-frm withlbl" [formGroup]="form" (submit)="submitForm()">
  <div class="g-field-search">
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-12 border-right">
        <div class="form-group">
          <select class="dropdownTour" id="tourType" formControlName="tourType">
            <option value="" selected disabled hidden>Tour type</option>
            <option value="bycycle tour">Bicikli túra</option>
            <option value="walking tour">Gyalogos túra</option>
            <option value="culture tour ">Culture tour</option>
            <option value="horse tour ">Horse tour</option>
            <option value="hiking tour">Hiking tour</option>
            <option value="sightseeing tour">Sightseeing tour</option>
            <option value="via ferrata ">Via ferrata/Klettersteigs</option>
            <option value="water tour ">Water tour</option>
          </select>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 border-right mxnbr">
        <div class="form-group">
          <select class="dropdownTour" id="routeType" formControlName="routeType">
            <option value="" selected disabled hidden>Route type</option>
            <option value="One way tour">One way tour</option>
            <option value="Round-tour">Round tour</option>
          </select>

        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 border-right mxnbr">
        <div class="form-group">
          <select class="dropdownTour" id="difficulty" formControlName="difficulty">
            <option value="" selected disabled hidden>Difficulty</option>
            <option value="easy">Easy</option>
            <option value="2">Közepes</option>
            <option value="difficult">Difficult</option>
          </select>

        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 border-right mxnbr">
        <div class="form-group">
          <div class="range-slider">
            <div class="distance-title">Tour lenght <span class="theme-cl"></span> km</div>
            <input class="tourLength" type="range" min="1" max="1000" step="1" value="1"
                   data-title="Radius around selected destination" formControlName="tourLength">
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 border-right mxnbr">
        <div class="form-group">
          <div class="range-slider">
            <div class="distance-title">Level rise <span class="theme-cl"></span> m</div>
            <input class="levelRise" type="range" min="1" max="1000" step="1" value="1"
                   data-title="Radius around selected destination" formControlName="levelRise">
          </div>
        </div>
      </div>

      <div class="col-lg-1 col-md-6 col-sm-12 border-right">
        <div class="form-group">
          <select class="dropdownTour" id="rate" formControlName="rate">
            <option value="" selected disabled hidden>Rate</option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
          </select>
        </div>
      </div>
      <div class=" col-lg-1 col-md-12 col-sm-12form-group  search">

        <button type="submit" class="btn btn-theme btn-search" [disabled]="form.invalid">Keresés</button>
      </div>


    </div>

  </div>


</form>
