
#backgroundImage{
  background-image: url("../../../assets/img/testbg03.jpeg");
 // background-color: darkseagreen;
 background-repeat: repeat;
 background-attachment: fixed;
}

.opacityNegative{
  opacity: 0.8;
}

.opacityPlus{
  opacity: 1;
}

agm-map {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.home-map.fl-wrap {
  top: -40px;
}
.fs-left-map-box .map-container.fw-map{
  width: calc(100% / 3);
}
