
#backgroundImage{
  background-image: url("../../../assets/img/testbg03.jpeg");
 // background-color: darkseagreen;
 background-repeat: repeat;
 background-attachment: fixed;
}

.opacityNegative{
  opacity: 0.8;
}

.opacityPlus{
  opacity: 1;
}
