<app-header buttonLinkFrontpage="/frontpage" buttonLinkAdminImage="/admin-image" buttonLinkAdminTours="/admin-tours"
            buttonContact="/contact"></app-header>
<div class="row no-gutters">
  <!--- Térkép -->
  <div class="col-md-4">
    <div class="fs-left-map-box">
      <div class="home-map fl-wrap">
        <div class="map-container fw-map">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
              <div>
            <agm-kml-layer url="https://hikemasterprog.herokuapp.com/kml/{{tour.routeId}}"></agm-kml-layer>
              </div>
          </agm-map>
        </div>
      </div>
    </div>
  </div>

  <!--- Cím+értékelés  -->

  <div class="col-md-8">
    <div class="fs-content " id="backgroundImage">
      <div class="bg-white opacityNegative">
        <div class="row">
          <div class="col text-left ml-3 mt-3">
            <h1 *ngIf="tour && tour.title"><strong>{{tour.title}}</strong></h1>
          </div>
          <div *ngIf="tour && tour.rate">
            <div class="col text-md-center">
              <span class="rating-overview-box-total">{{tour.rate}}</span>
              <span class="rating-overview-box-percent">out of 5.0</span>
              <div class="star-rating">
                <i *ngFor="let rating of ratings" [ngClass]="rating"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Adatok -->
      <div class="bg-white opacityNegative">
        <div class="row mt-5">
          <div class="col text-left ml-3 mt-2">
            <h2><strong>Data</strong></h2>
          </div>
        </div>
        <hr>
        <div class="row" *ngIf="tour && tour.difficulty">
          <div class="col text-left ml-3">

            <p><strong>Difficulty</strong></p>
          </div>
          <div class="col text-right mr-3">
            <p>{{tour.difficulty}}</p>
          </div>
        </div>
        <hr>
        <div class="row" *ngIf="tour && tour.tourLength">
          <div class="col text-left ml-3">
            <p><strong>Length</strong></p>
          </div>
          <div class="col text-right mr-3">
            <p>{{tour.tourLength | number:'1.2-2' }} km</p>
          </div>
        </div>
        <hr>
        <div class="row" *ngIf="tour && tour.levelRise">
          <div class="col text-left ml-3">
            <p><strong>Level rise</strong></p>
          </div>
          <div class="col text-right mr-3">
            <p>{{tour.levelRise}} m</p>
          </div>
        </div>
        <hr>
        <div class="row" *ngIf="tour && tour.routeType">
          <div class="col text-left ml-3">
            <p><strong>Type of Tour</strong></p>
          </div>
          <div class="col text-right mr-3">
            <p>{{tour.routeType}}</p>
          </div>
        </div>
      </div>


      <!-- Leírás -->



      <div class="bg-white mt-5 opacityNegative" *ngIf="tour && tour.text">
        <div class="row">
          <div class="col text-left ml-3 mt-3">
            <h2><strong>Description</strong></h2>
            <p>{{tour.text}}</p>
          </div>
        </div>
      </div>
      <!--
            <div class="row">
              <div class="col-md-12 col-sm-12 mt-3">

                <ngb-carousel *ngIf="images">
                  <ng-template ngbSlide *ngfor="let i of images">
                    <div class="picsum-img-wrapper" >
                      <img [src]="images[j]" alt="Random first slide" class="w-100">
                    </div>
              </ng-template>
                </ngb-carousel>

          -->
            <div class="row imageViewer no-gutters">
              <div class="col-md-12 col-sm-12 mt-3">
                <ngb-carousel *ngIf="images">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper" >
                      <img [src]="images[0]" alt="Random first slide" class="w-100">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[1]" alt="Random second slide" class="w-100">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[2]" alt="Random third slide" class="w-100">
                    </div>
                  </ng-template>
                </ngb-carousel>

          <!--          <app-comment *ngFor="let comment of comments" [comments]="comments"></app-comment>-->
          <div class="list-single-main-item fl-wrap">
            <div class="list-single-main-item-title fl-wrap">
              <h3>Comments</h3>
            </div>
            <div class=tour-maps>
              <app-comment *ngFor="let cmt of comments" [myComment]="cmt"></app-comment>
            </div>
            <div class="bg-white" *ngIf="getUser.userName">
              <div class="row mt-5">
                <div class="col text-left mt-2">
                  <form [formGroup]="form" (submit)="comment()">
                    <div class="form-group">
                      <label for="messageText">Comment</label>
                      <textarea class="form-control" id="messageText" rows="3" formControlName="text"></textarea>
                    </div>
                    <button type="submit" class="green mb-5">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
