<div class="fs-container half-map">
  <!--- Térkép -->
  <div class="fs-left-map-box">
    <div class="home-map fl-wrap">
      <div class="map-container fw-map">
        <div id="map-main">
        </div>
      </div>
    </div>
  </div>

  <!--- Konténer  -->

  <div class="fs-inner-container ">
    <div class="fs-content backgroundImage">


      <div class="row">
        <div class="col text-left">
          <h1><strong>A királyok túrája, a túrák királya</strong></h1>
        </div>
      </div>
      <div class="rating-overview">
        <div class="rating-overview-box">
          <span class="rating-overview-box-total">4</span>
          <span class="rating-overview-box-percent">out of 5.0</span>
          <div class="star-rating" data-rating="5"><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i
            class="ti-star"></i><i class="ti-star"></i>
          </div>
        </div>

        <div class="rating-bars">
          <div class="rating-bars-item">
            <span class="rating-bars-name">Nehézség</span>
            <span class="rating-bars-inner">
												<span class="rating-bars-rating high" data-rating="5">
													<span class="rating-bars-rating-inner" style="width: 100%;"></span>
												</span>
												<strong>5</strong>
											</span>
          </div>
          <div class="rating-bars-item">
            <span class="rating-bars-name">Hossz</span>
            <span class="rating-bars-inner">
												<span class="rating-bars-rating good" data-rating="4">
													<span class="rating-bars-rating-inner" style="width: 80%;"></span>
												</span>
												<strong>4</strong>
											</span>
          </div>
          <div class="rating-bars-item">
            <span class="rating-bars-name">Szintemelkedés</span>
            <span class="rating-bars-inner">
												<span class="rating-bars-rating mid" data-rating="3">
													<span class="rating-bars-rating-inner" style="width: 60%;"></span>
												</span>
												<strong>3</strong>
											</span>
          </div>
          <div class="rating-bars-item">
            <span class="rating-bars-name">Látvány</span>
            <span class="rating-bars-inner">
												<span class="rating-bars-rating poor" data-rating="4">
													<span class="rating-bars-rating-inner" style="width:80%;"></span>
												</span>
												<strong>4</strong>
											</span>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col text-left">
          <p><strong>Nehézség</strong> </p>
        </div>
        <div class="col text-right">
          <p>Nagyon nehéz</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col text-left">
          <p><strong>Hossz</strong> </p>
        </div>
        <div class="col text-right">
          <p>14 km</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col text-left">
          <p><strong>Szintemelkedés</strong></p>
        </div>
        <div class="col text-right">
          <p>600 m</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col text-left">
          <p><strong>Látvány</strong></p>
        </div>
        <div class="col text-right">
          <p>Szép</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col text-left">
          <h2>Leírás</h2>
          <p>Valóban a királyok túrája ez, amelynek a hajóállomásnál nekivágni készülünk: a Dunakanyar területe, a
            „Pilisi-erdő”, ahogy már akkoriban is nevezték, a honfoglalástól kezdve a fejedelmek, majd az Árpád-házi
            királyok birtoka volt. Az oklevélben először Szent László király idején, 1079-ben említett Dömös az
            uralkodók
            egyik kedvelt helyének számított akkoriban. Még palota is állt itt, az egykori prépostság romjai pedig
            túránk
            útvonalától kissé távolabb, a település központja felé, a P jelzés mentén máig megtekinthetőek. A
            templomából
            származó 11. századi híres, lovast és oroszlánt ábrázoló oszlopfő a magyar románkori szobrászművészet
            egyik
            legszebb emléke.
            A lakott területet magunk mögött hagyva pedig az ország egyik legizgalmasabb túrája vár ránk: miután a
            Szentfa kápolnánál csendben erőt gyűjtöttünk, a Vadálló-köveken át felkapaszkodunk a parádés kilátást
            biztosító Prédikálószékhez, félúton megpihenünk a Kis Rigó vendéglőben, aztán nekivágunk a csak nemrég óta
            látogatható, néhol szokatlan kitettségű Spartacus-vadászösvény egyszemélyes nyomvonalának, ahonnan a
            vadregényes erdőből kibújva újabb szögből csodálhatjuk meg a Duna túlpartját uraló Szent Mihály-hegyet.
            Végül kellemes erdei sétával, az Apát-kúti völgy felett kanyarogva érkezünk meg a királyok városába,
            Visegrádra.</p>
        </div>
      </div>


      <div class="row">

      </div>

      <div class="row m-0">


      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 mt-3">
          <ngb-carousel *ngIf="images">
            <ng-template ngbSlide *ngFor="let i of images">
              <div class="picsum-img-wrapper">
                <img [src]="images[j]" alt="Random first slide">
              </div>
            </ng-template>
            <!--
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
              </div>
              <div class="carousel-caption">

              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
              </div>
              <div class="carousel-caption">

              </div>
            </ng-template>
            -->
          </ngb-carousel>


        </div>
      </div>


    </div>

    <!-- Reviews Comments -->
    <div class="list-single-main-item fl-wrap">
      <div class="list-single-main-item-title fl-wrap">
        <h3>Item Reviews -  <span> 3 </span></h3>
      </div>
      <div class="reviews-comments-wrap">
        <!-- reviews-comments-item -->
        <div class="reviews-comments-item">
          <div class="review-comments-avatar">
            <img src="assets/img/user-1.jpg" class="img-fluid" alt="">
          </div>
          <div class="reviews-comments-item-text">
            <h4><a href="tour-detail.html#">Josaph Manrty</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>27 Oct 2019</span></h4>

            <div class="listing-rating high" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><span class="review-count">4.9</span> </div>
            <div class="clearfix"></div>
            <p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
            <div class="pull-left reviews-reaction">
              <a href="tour-detail.html#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
              <a href="tour-detail.html#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
              <a href="tour-detail.html#" class="comment-love active"><i class="ti-heart"></i> 07</a>
            </div>
          </div>
        </div>
        <!--reviews-comments-item end-->

        <!-- reviews-comments-item -->
        <div class="reviews-comments-item">
          <div class="review-comments-avatar">
            <img src="assets/img/user-2.jpg" class="img-fluid" alt="">
          </div>
          <div class="reviews-comments-item-text">
            <h4><a href="tour-detail.html#">Rita Chawla</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>2 Nov May 2019</span></h4>

            <div class="listing-rating mid" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star"></i><span class="review-count">3.7</span> </div>
            <div class="clearfix"></div>
            <p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
            <div class="pull-left reviews-reaction">
              <a href="tour-detail.html#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
              <a href="tour-detail.html#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
              <a href="tour-detail.html#" class="comment-love active"><i class="ti-heart"></i> 07</a>
            </div>
          </div>
        </div>
        <!--reviews-comments-item end-->

        <!-- reviews-comments-item -->
        <div class="reviews-comments-item">
          <div class="review-comments-avatar">
            <img src="assets/img/user-3.jpg" class="img-fluid" alt="">
          </div>
          <div class="reviews-comments-item-text">
            <h4><a href="tour-detail.html#">Adam Wilsom</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>10 Nov 2019</span></h4>

            <div class="listing-rating good" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star"></i> <span class="review-count">4.2</span> </div>
            <div class="clearfix"></div>
            <p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
            <div class="pull-left reviews-reaction">
              <a href="tour-detail.html#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
              <a href="tour-detail.html#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
              <a href="tour-detail.html#" class="comment-love active"><i class="ti-heart"></i> 07</a>
            </div>
          </div>
        </div>
        <!--reviews-comments-item end-->

      </div>
    </div>
  </div>
