/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'assets/scss/mixins/material-button.mixin';

.headerShift{
  padding-top: 114px;
  background-color:  #113b3c;
}
.green {
  background-color: darkolivegreen;

  &:hover {
    background-color: olivedrab;
  }


}

.button-primary {
  @include material-button(darkolivegreen, white);
}

/*
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
*/
